<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><title>分布式故障分类系统</title><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"><script defer="defer" src="/static/js/chunk-vendors.b402bb6c.js"></script><script defer="defer" src="/static/js/app.a9ea6292.js"></script><link href="/static/css/chunk-vendors.7d75f85b.css" rel="stylesheet"><link href="/static/css/app.f13344db.css" rel="stylesheet"></head><div id="app"></div><style>body,
  html {
    margin: 0;
    padding: 0;
  }

  #app {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
  }</style></html>